<h1>Leveling Up</h1>
<%= form_with(url: '/levelupcharacter', method: 'post', local: true) do %>
  <div class="row">
    <div class="col-10">
      <%= render 'suits' %>
      <div class="row">
        <div class="col-sm-6">
          <label>Current Level</label>
          <%= number_field_tag(:current_level, '1', class: 'form-control', min: 1, max: 11) %>
        </div>
        <div class="col-sm-6">
          <label>Desired Level</label>
          <%= number_field_tag(:desired_level, '1', class: 'form-control', min: 1, max: 11) %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label>Character Import</label>
          <%= text_area_tag(:char_import, nil, rows: 11, class: 'form-control') %>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <button type="submit" class="btn btn-success">Choose</button>
      <a href="/reset" class="btn btn-warning">Reset</a>
    </div>
  </div>
<% end %>
