<h1><%= @title %> - Level <%= @level %></h1>
<%= form_with(url: '/quality', method: 'post', local: true) do %>
  <%= hidden_field_tag(:card, @card) %>
  <div class="row">
    <div class="col-sm-11">
      <div class="row">
        <% @qualities.each_with_index do |quality, index| %>
          <div class="col-sm-6">
            <label class="selector-container-quality">
              <%= radio_button_tag(:quality_id, quality['id'], false, class: 'selector', style: 'display: none;') %>
              <h2><%= quality['title'] %></h2>
              <p><%= quality['description'] %></p>
              <% quality['subQualities'].each do |subQuality| %>
                <h3><%= subQuality['title'] %></h3>
                <p><%= subQuality['description'] %></p>
              <% end %>
            </label>
          </div>
          <% if index.modulo(2) == 1 %>
            </div><div class="row">
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-1">
      <a href="/reset" class="btn btn-default">Reset</a>
      <input type="submit" class="btn btn-success" value="Choose">
    </div>
  </div>
<% end %>
