<!DOCTYPE html>
<html>
  <head>
    <title>Weave Playset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <%= image_tag "logo.svg" %>
        </a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
