<!DOCTYPE html>
<html>
  <head>
    <title>Weave Playset</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">
          <%= image_tag "logo.svg" %>
        </a>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
